@font-face {
    font-family: 'Padauk';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(paduak.woff2) format('woff2');
}

.picture {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#personname {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
img {
    user-select: none;
}

.column {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: min-content;
    height: min-content;
}

.top {
    display: flex;
    /* margin-left: -80px; */
    /* width: 860px;
    justify-content: flex-start; */
}
.bottom {
    display: flex;
    /* margin-left: 80px; */
    /* width: 860px;
    justify-content: flex-end; */
}

.content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.box {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
    border: 2px solid #ddd;
    border-radius: 12px;
    margin: 10px;
}

.hidden {
    display: none;
}

.maintext {
    width: 480px;
    height: min-content;
    transition: 0.2s;
    padding: 20px;
}
.maintext p {
    word-wrap: normal;
}

p {
    margin: 0px;
    font-family: 'Padauk', sans-serif;
    font-size: 15pt;
    user-select: none;
}
.dialogoption {
    width: 100%;
    height: min-content;
    padding: 15px 20px;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.3s;
}
.dialogoption:hover {
    border: 2px solid #333;
}

body {
    background-color: #fefefe;
    margin: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.picture img {
    filter: invert(1) brightness(0.8);
    width: 60%;
    height: 60%;
}