@font-face {
    font-family: 'Padauk';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(paduak.woff2) format('woff2');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    /* font-weight: 500; */
    font-display: swap;
    src: url(Quicksand.woff) format('woff2');
}  

/* latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o58a-xDwxUD2GFw.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
/* #personinfo {
    display: none;
} */
.picture {
    width: 150px;
    border-color: #333 !important;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#personname {
    width: 170px;
    text-align: center;
    margin-top: 10px;
}
img {
    user-select: none;
}

html {
    height: 100%;
}

.column {
    /* margin: auto; */
    width: min-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* height: 100%;
    display: flex; */
}
/* .column {
    height: 100%;
    display: flex;
    align-items: flex-start;
} */

.top {
    display: flex;
    height: 47.5%;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    /* width: 860px;
    justify-content: flex-start; */
}
.bottom {
    display: flex;
    height: 40%;
    /* margin-left: 165px; */
    align-items: flex-start;
    /* width: 860px;
    justify-content: flex-end; */
}

.content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.optionarea {
    width: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.box {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
    border: 3px solid #555;
    border-radius: 12px;
    margin: 10px;
}

.hidden {
    display: none;
}
.clickable {
    cursor: pointer;
}
.clickable:hover {
    border: 3px solid #aaa;
}

.invis {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.maintext {
    width: 480px;
    height: min-content;
    transition: 1s;
    overflow: visible;
    padding: 20px;
    position: relative;
}
.maintext p {
    word-wrap: normal;
}

p {
    margin: 0px;
    font-family: monospace, 'Quicksand';
    font-size: 14pt;
    white-space: pre-line !important;
    user-select: none;
}
.dialogoption {
    width: fit-content;
    height: min-content;
    /* white-space: nowrap; */
    padding: 15px 20px;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.3s;
    transform: scale(0);
    animation: popin 1s ease forwards;
}
.dialogoption:hover {
    border: 3px solid #aaa;
}

#playerinfo {
    transition: 1s;
}

.thought {
    /* border: 3px solid rgb(142, 182, 227); */
}

body {
    /* background-color: #d4e4e6; */
    margin: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titlescreen {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 1;
}

#titletext {
    margin-bottom: 100px;
    margin-top: 25px;
    font-size: 20pt;
}

#titleholder {
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    flex-direction: column;
    height: 800px;
}

#titleholder > img {
    width: 200px;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

#titleimg, #titletext {
    transition: 2s;
    opacity: 0;
}

.picture img {
    /* filter: invert(1); */
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}

@keyframes popin {
    0% {
        transform: scale(0);
        opacity: 0;
    } 100% {
        transform: scale(1);
        opacity: 1;
    }
}

.arrow {
    position: absolute;
    border-left: inherit;
    border-bottom: inherit;
    border-radius: 2px;
    bottom: -3px; left: -9px;
    width: 22px;
    transform: skewX(-30deg);
    background-color: inherit;
    height: 19px;
}
.optionarrow {
    position: absolute;
    border-right: inherit;
    border-bottom: inherit;
    border-radius: 2px;
    bottom: -3px; right: -9px;
    width: 22px;
    transform: skewX(30deg);
    background-color: inherit;
    height: 19px;
}

.bubble {
    background-color: inherit;
    border: inherit;
    border-radius: 50%;
    position: absolute;
    width: 35px;
    height: 35px;
    bottom: 12px;
    right: -50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
}

.bubble2 {
    width: 15px; height: 15px; right: -75px; bottom: 5px;
}

.bubble3 {
    width: 8px; height: 8px; right: -90px; bottom: -10px;
}

.status {
    width: 250px;
    padding: 15px;
    margin-bottom: auto;
    animation: statusin 2s ease forwards, fadeout 1.5s ease 8s forwards;
}

.status p:nth-child(1) {
    font-weight: 500;
    width: 100%;
    border-bottom: inherit;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.removal p {
    border-bottom: none !important;
    font-weight: 400 !important;
    height: 100%;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

#statusrow {
    display: flex;
    justify-content: center;
    height: 200px;
}

@keyframes statusin {
    0% {
        opacity: 0;
        transform: scale(0) translate(0px, -100px);
    } 100% {
        opacity: 1;
        transform: scale(1) translate(0px, 0px);
    }
}
@keyframes fadeout {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

.removal {
    border-color: rgb(255, 48, 0) !important;
}

.valuebar {
    width: 400px;
    height: 20px;
    border-radius: 20px;
    margin: 30px;
    background-color: #0004;
    position: relative;
}
.valuebar::before {
    background-color: #222;
    width: 80%;
    height: 100%;
    content: ".";
    color: #0000;
    display: block;
    border-radius: inherit;
}

.valuearea {
    position: absolute;
    left: 0px; bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidecolumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
    margin: 5px;
    justify-content: center;
}

.barlabel {
    width: 60px;
    height: 60px;
    background-color: #fff;
    box-sizing: border-box;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 14px 0px;
    top: 0; bottom: 0; left: -50px;
    border-radius: 30px;
    margin: auto;
    border: 2px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barlabel img {
    height: 55%;
}
.unavailable {
    background-color: #e1e1e1 !important;
    z-index: -1;
}

  
.progress {
    background: rgba(0,0,0,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    /* padding: 3px 6px; */
    display: flex;
    height: 30px;
    width: 100%;
    margin-bottom: 30px;
}
  
.progress-value {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #222;
    height: 100%;
    width: 80%;
    transition: width 1s, background-color 1s;
}
.highlightg {
    font-weight: 600;
    color: green;
}
.highlightr {
    font-weight: 600;
    color: red;
}

#abouttext {
    position: absolute;
    bottom: 20px;
    right: 25px;
    color: #888;
}

#abouttext:hover {
    text-decoration: underline;
    cursor: pointer;
}

#statstext {
    position: absolute;
    bottom: 20px;
    right: 105px;
    color: #888;
}

#statstext:hover {
    text-decoration: underline;
    cursor: pointer;
}